@font-face {
    font-family: Titillium;
    src: url("../titillium.ttf") format("truetype");
}

body {
    background-color: #262626;
    color: #b0b0b0;
    font-family: Titillium;

    margin: 0 10px;
    padding: 0;
    overflow-x: hidden;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-conteiner {
    position: absolute;
    width: calc(100% - 20px);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #181818;
    padding: 0 10px;
    border-radius: 10px;
}

.mobile-nav {
    position: absolute;
    right: -350px;

    display: none;
    flex-direction: column;
    gap: 8px;

    background-color: #181818;
    width: 250px;
    height: 100vh;
    padding: 10px 15px;
    z-index: 999;
}

.desktop-nav-btn {
    color: #b0b0b0;
    font-size: 15px;
}

.desktop-nav-btn:hover {
    color: #d8d8d8;
}

.burger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}

.burger-item {
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: #808080;
}

.mobile-nav.active {
    display: flex;
    animation: mobile-nav-anim .4s linear forwards;
}

@media (max-width : 660px) {
    .burger {
        display: flex;
    }

    .mobile-nav {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }
}

@keyframes mobile-nav-anim {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-350px, 0);
    }
}